#job_history{
	padding-left:0;
	margin:0;
	list-style-type:none;
	overflow-y:scroll;
	height:535px;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
}
#job_history li{
	padding:10px 30px;
}

#job_history .circle{
    background-color:#000;
    float: inline-start;
    margin-top: 19px;
    margin-right: 40px;
	width: 19px;
	height: 19px;
    border-radius: 10px;
}

#job_history .moment_box{
	padding:20px;
	color:#fff;
	line-height:25px;
	max-width:90%;
	display:inline-block;
    font-weight: bold;
	text-align:left;
	border-radius:5px;
    background-color:#AAAAAA;
}

#job_history .company{
    background-color:#55AA99;
}

#job_history .position{
    background-color:#FFAA99;
    color:#000;
    font-weight: unset;
}

#job_history .triangle{
    float: inline-start;
    margin-top: 20px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 10px 10px 0px;
    border-color: transparent #AAAAAA transparent transparent;
}
